.login {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.txtMenu{
  font-weight: 500 !important;
}

.mainH{
  background-color:#ff9d73 !important;
  color:#ffffff;
}

.mainHeader:hover{
  background-color:#ff9d73 !important;
  color:#ff4c00;
}

.txtMenu:hover{
  color:#ff9d73 !important;
}

.bg-tbb1 {
	background-color: #030303;
	opacity: 0.8;
  line-height:1.2;
  width: calc(100%/7);
  text-align: center;
  font-size: 14px;
  color: #dddddd;
}
.bg-tbb2 {
	background-color: #181818;
	opacity: 0.8;
  line-height:1.2;
  width: calc(100%/7);
  text-align: center;
  color: #dddddd;
}

.text-cut {
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}


.bg-tblack {
	background-color: #030303;
	opacity: 0.8;
  line-height:1.2;
  text-align: center;
  font-size: 16px;
  color: #dddddd;
}

.bgFit {
  background-image: url("../../images/bgfit.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 900;
}
.logo-login{
  height:40vh;
}

.bgDEP {
  background-image: url("../../images/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 900;
}


.btn.fitText {
  background-color: #333333;color: #ccff00;
}
.btn.fitText:hover {
  background-color: #ccff00;color: #333333;
}
.btn.fitText.disabled {
  background-color: #333333;color: #000000;
}

.fitText{
  background-color: #333333;color: #ccff00;
}

.ck {
  padding: 20px;
}

.font-p {
  font-size: 10px;
}

.boxClass {
    position: relative;
}

.badgeClass {
    position: absolute;
    right: 0px;
    bottom : 0px;
    font-size: 18px;
    color: #8B008B;
}

.btncashMoney{
  margin-top: 10px;
  width:100%;
  height:75px;
  font-size:22px;
  font-weight:500;
}

.non-radius {
  border-radius: 0px !important;
}


.btnAdd {
  float: right;
  display: block;
  position: absolute;
  top:4px;
  right:20px;
}

.btnBack{
  float: left;
  display: block;
  position: absolute;
  top:4px;
  left:20px;
}

.txtCenter{
  display: block;
  position: absolute;
  left:50%;
  height: 35px;
}

.load{
  position: absolute;
  right:50%;
  margin: 10px;
}

.border-tap {
  border: 1px solid #ddd;
  border-top: #FFF;
}

.pdd-top {
  padding-top: 20px;
}

.mar-bottom {
  margin-bottom: 20px;
}

.mar-top {
  margin-top: 20px;
}

.bg-fff {
  background-color: #FFFFFF !important;
}

.text-indent {
  text-indent: 2.5em;
}

.well>.course-detail {
  display: inline-block;
}

.well>.icon {
  position: absolute;
  display: inline-block;
  right: 50px;
}

.well>.icon>a {
  color: #000 !important;
  cursor: pointer;
}

.ui-state-highlight {
  height: 60px;
  background-color: #fffefa;
  border: 4px dashed #ffee65;
  margin-bottom: 20px;
}

.size {
  position: absolute;
  right: 32px;
}

.color-back {
  color: #000000 !important;
}

.color-red {
  color: #dd4b39 !important;
}

.color-blue {
  color: #337ab7 !important;
}

.pdd-radio {
  background-color: #FFF;
  padding: 20px;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#sortable li {
  padding: 1px;
  float: left;
  width: 100%;
  font-size: 16px;
}

.btn-rank{
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 14px;
}

.icon-remove{
  display: inline;
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  color: #c70000;
}

.text-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.cursor{
  cursor: pointer;
}

.remove , .remove:hover , .remove:active , .remove:focus{
  color: #dd4b39;
}

.border-btn{
  border: none;
  border-bottom: 2px solid #000;
}
.fixed-table-pagination{
  background-color: #FFFFFF;
}
